extends layout

block header
  title Thing

block content
  h1#service Here is your password for {service}
  p#textPass <br/>{text password}
  keyboard
    include keyboard.pug
  h1#confirm Confirm your password
  input#passBox
  | enter password