extends layout

block header
  title Thing

block content
  nav.navbar.navbar-inverse.bg-inverse
    a.navbar-brand(href='#')#serviceBar COMP 3008 Password Scheme
      ul.navbar-nav.mr-auto
        li.nav-item.active
        
  .row
    .col-md-12.col-sm-12.col-lg-12#keyboard-container
       include keyboard.pug
  .row
    .col-md-12
      .input-group
        input.form-control(type="text", placeholder="Enter your password" onkeydown="uniCharCode(event)" )#pwBox
  .row
    .col-md-6
      p.shape.text-center#shape0
    .col-md-6 
      p.shape.text-center#shape1 
  #service.modal(role='dialog'  data-focus='true' data-show='true' data-animation="false")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title.text-center Instructions
        .modal-body
          p#instructions Instructions
        .modal-footer
          button#closeModal.btn.btn-primary(type='button' autofocus data-dismiss='modal') Close
  #redo.modal(role='dialog'  data-focus='true' data-animation="false")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title.text-center Instructions
        .modal-body
          p Wrong password entered. Either try again or go back and see the password again.
        .modal-footer
          button#goBack.btn.btn-primary(type='button' autofocus data-dismiss='modal') Go Back
          button#tryAgain.btn.btn-secondary(type='button' data-dismiss='modal') Try Again