extends layout

block header
  title Thing

block content
  nav.navbar.navbar-inverse.bg-inverse
    a.navbar-brand(href='#')#serviceBar COMP 3008 Password Scheme
      ul.navbar-nav.mr-auto
        li.nav-item.active
        
  .row
    .col-md-12.col-sm-12.col-lg-12#keyboard-container
       include keyboard.pug
  .row
    .col-md-12
      .input-group
        input.form-control(type="text", placeholder="Enter your password" onkeydown="uniCharCode(event)" )#pwBox
  .row
    .col-md-4
      p.shape.text-center#shape1 ▱
    .col-md-4
      p.shape.text-center#shape2 ▲
    .col-md-4 
      p.shape.text-center#shape3 ━ 
  #service.modal(role='dialog' data-animation="false")
    .modal-dialog
      .modal-content
        .modal-header
          h4#uploadFileModal.modal-title.text-center Instructions
        .modal-body
          p#instructions Instructions
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal' data-animation="false") Close