extends layout

block header
  title Thing

block content
  nav.navbar.navbar-inverse.bg-inverse
    a.navbar-brand(href='#')#serviceBar COMP 3008 Password Scheme
      ul.navbar-nav.mr-auto
        li.nav-item.active
        
  .row
    .col-md-12.col-sm-12.col-lg-12#keyboard-container
       include keyboard.pug
  .row
    .col-md-12
      .input-group
        input.form-control(type="text", placeholder="Enter your password")#pwBox
          
  #service.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadFileModal', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h4#uploadFileModal.modal-title.text-center Instructions
        .modal-body
          p#instructions Instructions
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close