doctype html
html
  head
    meta(charset='UTF-8')
    title HTML and CSS Keyboard
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .keyboard
      .logo
        | hp
      .lights
        span 1
        span A
        span V
      .section-a
        .key.function.space1
          | Esc
        .key.function
          | F1
        .key.function
          | F2
        .key.function
          | F3
        .key.function.space2
          | F4
        .key.function
          | F5
        .key.function
          | F6
        .key.function
          | F7
        .key.function.space2
          | F8
        .key.function
          | F9
        .key.function
          | F10
        .key.function
          | F11
        .key.function
          | F12
        // END FUNCTION KEYS
        .key.num.dual
          | ~
          br
          | `
        .key.num.dual
          | !
          br
          | 1
        .key.num.dual
          | @
          br
          | 2
        .key.num.dual
          | #
          br
          | 3
        .key.num.dual
          | $
          br
          | 4
        .key.num.dual
          | %
          br
          | 5
        .key.num.dual
          | ^
          br
          | 6
        .key.num.dual
          | &
          br
          | 7
        .key.num.dual
          | *
          br
          | 8
        .key.num.dual
          | (
          br
          | 9
        .key.num.dual
          | )
          br
          | 0
        .key.num.dual
          | _
          br
          | -
        .key.num.dual
          | +
          br
          | =
        .key.backspace
          | Backspace
        // END NUMBER KEYS
        .key.tab
          | Tab
        .key.letter
          | Q
        .key.letter
          | W
        .key.letter
          | E
        .key.letter
          | R
        .key.letter
          | T
        .key.letter
          | Y
        .key.letter
          | U
        .key.letter
          | I
        .key.letter
          | O
        .key.letter
          | P
        .key.dual
          | {
          br
          | [
        .key.dual
          | }
          br
          | ]
        .key.letter.dual.slash
          | |
          br
          | \
        .key.caps
          | Caps
          br
          | Lock
        .key.letter
          | A
        .key.letter
          | S
        .key.letter
          | D
        .key.letter
          | F
        .key.letter
          | G
        .key.letter
          | H
        .key.letter
          | J
        .key.letter
          | K
        .key.letter
          | L
        .key.dual
          | :
          br
          | ;
        .key.dual
          | "
          br
          | '
        .key.enter
          | Enter
        .key.shift.left
          | Shift
        .key.letter
          | Z
        .key.letter
          | X
        .key.letter
          | C
        .key.letter
          | V
        .key.letter
          | B
        .key.letter
          | N
        .key.letter
          | M
        .key.dual
          | < 
          br
          | ,
        .key.dual
          | >
          br
          | .
        .key.dual
          | ?
          br
          | /
        .key.shift.right
          | Shift
        .key.ctrl
          | Ctrl
        .key
          | fn
        .key
          | Alt
        .key.space
        .key
          | Alt
        .key
          | fn
        .key
          | Prnt
        .key.ctrl
          | Ctrl
      // end section-a
      .section-b
        .key.function.small
          | Prnt Scrn
        .key.function.small
          | Scroll Lock
        .key.function.small
          | Pause Break
        dic.sec-func
          .key
            | Insert
          .key
            | Home
          .key.dual
            | Page Up
          .key
            | Del
          .key
            | End
          .key.dual
            | Page Down
          .arrows
            .key.hidden
            .key
              | ^
            .key.hidden
            .key
              | <
            .key
              | v
            .key
              | >
          // end arrows
      // end sec-func
    // end section-b
