doctype strict
html
  head
    link(rel='stylesheet', href='stylesheets/keyboard.css')
  body
  div#motionPath
    .motion-path
      .small.square.el.follow-path#theSquare
        svg
          path#pwPath( fill="#F7931E" stroke="#000")
  ul#keyboard
      -
        var row1 = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0"];
        var row2 = ["Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P"];
        var row3 = ["A", "S", "D", "F", "G", "H", "J", "K", "L", ";"];
        var row4 = ["Z", "X", "C", "V", "B", "N", "M", ",", ".", "/"];
      .row.keys
        each val in row1 
          li.symbol(id= '_'+val)=val 
        li#key-offset0

      .row.keys
        li#key-offset1
        each val in row2 
          li.letter(id= '_'+val)=val 
        li#key-offset6

      .row.keys
        li#key-offset2
        each val in row3 
          li.letter(id= '_'+val)=val 
        li#key-offset5

      .row.keys
        li#key-offset3
        each val in row4
          li.letter(id= '_'+val)=val 
        li#key-offset4